body{
    font-family: 'Lato', sans-serif;
    font-size: 10pt;
    margin: 0;
    /*    overflow-y: hidden;*/
}

h1{
    font-size: 16pt;
}

h2{
    margin: 0 0 10pt 0px;
    font-size: 12pt;
    font-weight: 900;
}

h3{
    font-size: 12pt;
    margin-left: 0px;
}

h4{
    font-size: 12pt;
    font-weight: 500;
}

h5{
    font-size: 12pt;
    margin-left: 20px;
}

#home_overlay{
    color: white;
    margin-right: 20px;
    font-size: 30pt;
    font-weight: 500;
    font-kerning: normal;
}

#category_overlay{
    color: white;
    margin-right: 20px;
    font-size: 30pt;
    font-weight: 500;
    font-kerning: normal;
}


.header{
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin: 10 15 15 20;
}

.logo{
    font-family: georgia;
    font-size: 16pt;
    color: #38385c;
}

.nav{
    font-size: 11pt;
    word-spacing: 30px;
    margin: 10px 0px 20pz 20px;
    /*    width: 97%;*/
    padding-right: 20px;
}

a {
    text-decoration: none;
    padding: 5px;
    color: #56b3bf;
}

a:visited{
    color:gray;
}

a:hover{
    color: #088b8b;
}

a.active{
    font-weight: 900;
    color: #088b8b;
}

/*
#overlay{
color: #fff;
z-index: 2;
height: 100%;
width: 100%;
}
*/

/*
div , body, a{
border: solid red 2pt;
}
*/

/*
.home_thumbnail img {
object-fit: cover; 
position: relative;
text-align: center;
color: white;
}
*/

.over_img_name{
    position: absolute;
    bottom: 90px;
    left: 20px;
    font-weight: 600;
}

.about{
    display: grid;
    grid-template-columns: 1fr 1fr;
    /*    grid-template-rows: 1fr 1fr;*/
    margin: 10px 10px 10px 20px;
    column-gap: 25px;
}

#bio{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    width: 450px;
    line-height: 14pt;
}

#portrait{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}

.gallery_proj{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    margin: 0 15 0 10;
    grid-column-gap: 50px;
    grid-row-gap: 20px;
    margin: 0 25px 0 20px;
}

.gallery_category{
    display: grid;
    grid-template-columns: 600px 400px 400px 400px 400px;
    /*    background-color: #ac98ff;*/
    object-fit: fill;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    height: 90%;
    margin: 0;
    column-gap: 10px;
}

a.project_name {
    color: #2c92c7;
    margin: 0;
    padding: 0;
}

a.project_name:hover {
    color: #003488;
    margin: 0;
    padding: 0;
}

a.resume {
    color: #2c92c7;
    margin: 0;
    padding: 0;
}

a.resume:hover {
    color: #003488;
    margin: 0;
    padding: 0;
}

a.contact {
    color: #2c92c7;
    margin: 0;
    padding: 0;
}

a.contact:hover {
    color: #003488;
    margin: 0;
    padding: 0;
}

#animation{
    grid-column-start: 1;
    grid-column-end: 2;

}

#photo{
    grid-column-start: 2;
    grid-column-end: 3;
}

#concept{
    grid-column-start: 3;
    grid-column-end: 4;
}

#digital{
    grid-column-start: 4;
    grid-column-end: 5;
}

#trad{
    grid-column-start: 5;
    grid-column-end: 6;
}

.title{
    margin: 20px 0 16px 20px;
    font-size: 16pt;
    font-weight: 900;
}

/*
.subhead{
    margin: 0 0 10pt 20px;
    font-size: 12pt;
    font-weight: 900;
}
*/

.descrip{
    margin-left: 20px;
    line-height: 10pt;
    margin-bottom: 20pt;
}

.screens {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    object-fit: cover;
    margin: 10px 10px;
}

div, p{
    border: red 2px;

}

/*
.img:hover {
width: 500px;
height: 200px;
}
*/

.footer{
    font-size: 10pt;
    word-spacing:5px;
/*    padding: 20px;*/
/*    margin-right: 20px;*/
    margin-top: 20px;
    position: relative;
    left: 0;
    bottom: 10px;
    width: 95%;
}

.sns_icons{
    font-size: 13pt;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 1px grey; 
    border-radius: 1px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #4d5153; 
    border-radius: 1px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #787880; 
}